:root {
    --icon-size : 32px;
    --weather-icon-size : 256px;
}

#main-content-wrapper {
    /* Dimensions and Display */
    display: flex;
    justify-content: flex-end;
    padding: 0 20% 0 25%;
    align-items: center;
    flex-direction: row;
    gap: 3rem;

    /* Colors and Fonts */
    background-color: #101010;
    color : white;
    font-family: 'Poppins', sans-serif;
}

#img-wrapper {
    flex: 1;
}

#temp-wrapper,#other-wrapper {
    flex: 2;
}

.info-title {
    /* Colors and Fonts */
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 10px;
    color: #cffff61f;
}