{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block icon %}{% endblock icon %}

    <title>{% block title %}{% endblock title %}</title>

    <!-- Download Fonts -->
    <!-- Fonts used : -->
    <!-- Inter | Poppins | VT323-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;900&family=Poppins:wght@100;200;300&family=VT323&display=swap" rel="stylesheet">

    <style>
        * {
            padding : 0;
            margin : 0;
            box-sizing : border-box;
        }

        #footer {
            /* Dimensions and Display */
            position: absolute;
            right:3rem;
            bottom: 1rem;
            
            /* Fonts and Colors */
            font-family: 'VT323' , monospace;
            font-weight: 100;
            font-size: 18px;
        }
    </style>

    {% block css %}{% endblock css %}
</head>
<body>
    {% block content %}{% endblock content %}
    <span id="footer">Made with 💘 by saphalpdyl</span>
</body>
</html>