#other-wrapper {
    /* Dimensions and Display */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#wind-wrapper,#humidity-wrapper,#pressure-wrapper,#aqi-wrapper {
    /* Dimensions and Display */
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    left: -5px; 
    
    /* Colors and Fonts */
    font-family: 'VT323', monospace;
    font-size: 20px;
}

#wind-info-wrapper, #humidity-info-wrapper {
    /* Dimensions and Display */
    display: flex;
    flex-direction: column;
}

#aqi-info {
    /* Colors and Fonts */
    font-size: 24px;
    font-family: 'Inter', sans-serif;
}

.icon {
    filter: invert(1);
    height: var(--icon-size);
    width: var(--icon-size);
}